@import "../../../Style.scss";

.title_h1.forgotTitle{  
    @include titleHev(20px, #4a4a4a, 30px ); 
    margin-bottom: 20px;
}

.forgotTitle .signInTxt{
    font-weight: normal; 
    font-size: 14px;  
    padding-top: 5px;  
    text-align: left;     
    letter-spacing: 0px; 
}

.resetPasswordWrap{
    @extend %fullWrap; 
    form{
        @extend %fullWrap; 
        @include paddingAll(20px);
    }
    #messagePwd{
        @extend %fullWrap; 
        text-align: left;
        @include paddingTopBottom(0px);
        margin-top:-20px;
        padding-left:10px; 
    }
}

.floatLabelWrap .labelTxt{
    text-align: left;
}