{
    "presets": [
        "env",
        "react",
        "es2015",
        "stage-2"
    ],
    "env": {
        "production": {
            "presets": [
                "react-optimize"
            ],
            "plugins": [
                "add-module-exports",
                [
                    "transform-runtime",
                    {
                        "helpers": true,
                        "polyfill": false,
                        "regenerator": true
                    }
                ],
                "lodash"
            ]
        },
        "development": {
            "plugins": [
                "add-module-exports",
                [
                    "transform-runtime",
                    {
                        "helpers": true,
                        "polyfill": false,
                        "regenerator": true
                    }
                ],
                "lodash"
            ]
        },
        "sanitycheck": {
            "plugins": [
                "add-module-exports",
                [
                    "transform-runtime",
                    {
                        "helpers": true,
                        "polyfill": false,
                        "regenerator": true
                    }
                ],
                "dynamic-import-node",
                "lodash"
            ]
        }
    }
}
