@import "../../Style.scss";

.opro-header {
    @include titleHevNeu(30px, #1C293B, 36px);
    @extend %centerAlignWrap;
    margin-top: 20px;
}

.opro-message {
    text-align: center;
    margin-top: 12px;
    @include titleHevNeu(17px, #1C293B, 20px);
    .opro-mesg-first {
        text-align: justify;
        text-align: center;
    }
    .opro-mesg-second {
        margin-top: 15px;
    }
    .opro-discount-style {
        border: 2px solid #8dabc4;
        position: relative;
        max-width: 500px;
        padding: 38px;
        margin: 0 auto;
        background-color: #8dabc4;
        margin-top: 100px;
        margin-bottom: 100px;
        color: white;
        width: 100%;
        .formBtn {
            border: solid 1px white;
            background-color: #8dabc4;
            width: 200px;
        }
    }
}

.start-shopping-button-area {

    // Please change the original CDN Image here for home page
    background-image: url(https://ak1.ostkcdn.com/img/mxc/b2b/b2b_login_bg.svg);
    text-align: center;
    border: 1px solid #666;
    height: 170px;
}
.start-shopping-button-area .formBtn {
    background-color: #0079c4;
    margin-top: 2%;
    padding: 2px 60px;
}

.opro-discount-tag {
    margin-bottom: 20px;
    width: 100%;
    float: left;
}

.opro-discount-label {
    font-size: 38px;
}

.opro-discount-rate {
    display: inline-block;
}
.opro-discount-percentage-wrap {
    margin-left: -9px;
    margin-top: -3px;
    float: right;
}
.opro-discount-percentage {
    font-size: 20px;
    line-height: 17px;
    float: left;
    width: 100%;
}

.opro-discount-off {
    font-size: 11px;
    line-height: 10px;
    float: left;
    width: 100%;
}
