.labelActive {
    .multiSelectDropdown .ui.selection.dropdown
    {
        margin-top:18px;
    }
}

.multiSelectDropdown{
    height:auto !important;
    .active.visible.ui.selection.dropdown{
        margin-top:18px;
    }
    .ui.selection.dropdown { 
        background: transparent;
        border:0px;
        position: relative;
        z-index: 3;
        margin-top:4px;
    }
    .ui.multiple.dropdown>.label{
        text-align: left;
        font-size: 12px;
        font-weight: normal;
        background-color: #d4d4d4;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .labelTxt{
        top:0px;
    }
    .ui.multiple.search.dropdown>input.search{ width:10px;}
    .active.visible + .labelTxt{
        transform: translateY(-8px);
        font-size: 11px;
    }
    .error_text{
        position: absolute;
        left: 0px;
        bottom: -18px;
    }
}