@import "../../../../Style.scss";

// .deleteUserButtonWrap{
//     @include titleHev(14px, #4a4a4a, 17px ); 
//     background-color: #E7E8EA;
//     height: 44px;
//     width: 161px;
//     text-align: center;
//     border-radius: 4px;
//     border: 0px;
// }

.deleteUserMidContentWrap{

    @include titleHev(18px, #4a4a4a, 22px );
    letter-spacing: 1px;
    text-align: justify;
    font-weight: 300;
    padding-bottom: 50px;
}

.deactivatePhone{
@include titleHev(18px, #4a4a4a, 22px );
    letter-spacing: 1px;
    font-weight: 300;
    padding-bottom: 50px;
}

.deleteUserHeaderWrap{
    @include titleHev(22px, #4a4a4a, 22px );
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.deleteUserWrap form{
padding: 81px;
}

.deactivateCompanyAcc {
    padding-bottom: 20px;
}

.deactivateComButtonWrap {
    font-size: 14px;
    color: #4a4a4a;
    line-height: 17px;
    letter-spacing: 1px;
    background-color: #E7E8EA;
    height: 44px;
    width: 161px;
    text-align: center;
    border-radius: 4px;
    border: 0px;
    float: none;
}

.contactConciergeHead{
    text-align: center;
}