@import "../../../Style.scss";

.containInnerWrap{ 
    @extend %fullWrap; 
    @include marginTopBottom(80px);
}
.title_h1{
    @include titleHev(24px,#496580, 30px);
    @include paddingTopBottom(20px);
    letter-spacing: 0px;
    text-align: center;
}

.sendcode{
    padding-top: 10px;
}

// .otpInfoRequest{ 
//     padding:7px 0px 28px 36px;
// }

.loginBoxWrap{ width:90%; max-width: 362px; margin: 0px auto ; padding: 40px 0px;}
.loginBox{ 
    @extend %fullWrap; 
    @include paddingAll(30px);
    @include borderRadius(3px);
    margin-bottom: 50px;
}
.loginBox form { @extend %fullWrap;  }

.labelTxt_2 { 
    @include titleHev(14px,#222, 20px); 
    font-weight: normal;
} 
.loginBox .form-control { 
    box-shadow: inherit;
    border:0px;
    background-color: #f1f1f1;
     height: 38px;
}

.btnSignIn{ 
    @extend %fullWrap;
    @include borderRadius(3px);
    @include paddingTopBottom(10px);
    @include titleHev(14px,#fff, 20px);
    margin-top: 15px; 
    border:1px solid #9b9b9b;
    background: #1e377a;
    cursor: pointer;
   
}
.btnSignIn:hover{ background-color: #777;   }
.forgotTxt{
    @extend %fullWrap;
    text-align: center; 
    padding-top: 20px;
}
.loginAuthInsideWrap{
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
    float: none;
    padding-top: 100px;
    .loginAuthInsideWrap{
        padding-top: 0px;
    }
    .twoStepTitle{
        display: block; 
    }
    .twoStepTitle_2{
        @include titleHev(24px,#4a4a4a, 40px);
    }
    p{
        @include titleHev(18px,#4a4a4a, 24px);
    }
    .requestNewCode{
        max-width: 100%;
    }
    .formRowWrap{
        text-align: center;
        .createAccBtn, .btnSignIn{
            display: inline-block;
            max-width: 400px;
            float: none;
        }
    }
}

.twoStepTitle{
    @include titleHev(24px,#4a4a4a, 40px);
    text-align: left;
    margin-bottom:20px;
    display: none; 
}
