@import "../../../../Style.scss";

.profileWrapList li{@extend %font-helvetica;display: table-cell;padding-left: 3%;padding-top: 35px;box-sizing: border-box; height: 83px;background-color:whitesmoke;width:1%}

.fa-user-circle{ font-size: 18px}

.userWrapList li{@extend %font-helvetica;display: inline-block;padding-left: 3%;padding-top: 35px;box-sizing: border-box; height: 83px;max-width: 212px;background-color:whitesmoke;width:100%}

.userWrapList{margin: 0px auto; padding-bottom: 0px}

.UserManagementEditIcon, .UserManagementDeleteIcon{
    cursor: pointer;
}
.order{
    .caret{
    display: none;
    }
}
.deleteContainer{
    text-align: center;
    margin: 5px auto;
    background-color: rgba(172,27,37,0.06);
    height: 100px;
    cursor: pointer;
}
.deleteContainer i {
    font-size: 35px;
    padding: 16px;
    color: #AC1B25;
}

.UserManagementDeleteIcon i{
    font-size: 20px;
    padding-left: 18px
}

.table>tbody>tr>td{
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    padding: 32px;
}

.customEditCell{
    color: #3454D1;
}

.myProfileRedirect, .myProfileRedirect:hover{
    color: #3454D1;
}

// .table-bordered>tbody>tr>td{
//  border-left:0px solid #ddd;
// }
// .table-bordered>thead>tr>th{
//     border-left:0px solid #ddd;
// }