/* This file is mainly used for overriding the react-bootstrap modal according to the modal needs */
@import "../../Style.scss";

.successTextStyles {
    text-align: center;
    font-size: 40px;
}

.successImgStyle {
    display: inline-block;
    height: 100px;
}

.popUpContentStyles .modal-content {
    margin: 39% auto 0px !important;
}

div > .modal-content {
    margin: 39% auto 0px !important;
}

.popUpBodyStyles {
    margin: "18px 45px";
}

.successBox {
    margin-top: 70px;
    margin-bottom: 70px;
}

.closeImgStyle{
        height: 60px;
        float: right;
        padding: 0px;
        margin: -104px -38px;
}
.passwordBox{

    // margin-top: -80px;
    // margin-bottom: 479px;
    max-width: 600px;
    width: 100%;
}
.temp {
    font-size: 35px;
    line-height: 40px;
}

.popUpBodyStyles {
    .passwordBox {
        .loginAuthInsideWrap{ padding-top: 0px; }
    }
}

.addUsersCloseIcon {
    position: absolute;
    display: block;
    right: 10px;
    top: 0px;
} 

.addnewUserTitle {
    @include titleHevNeu_B(24px, #000, 30px);
    @include marginTopBottom(15px);
}