@import "../../../Style.scss";

.bnrFormAccWrap {
    max-width: 100%;
}

.TabOutterWrap{
    @extend %fullWrap; 
    // @include paddingLeftRight(10px);
    .TabHeaderWrap{
      @extend %fullWrap;
      background-color:#f9fafb;
      @include paddingAll(20px);
      padding-bottom: 0px;
      margin-bottom: 0px;
      .TabHeaderTitle {
        @include paraHev_fluid(14px, #ccc , 20px);
        width:auto;
        float: left;
        padding: 10px 30px 0px 30px;
        text-align: center;
        cursor: pointer;
        &:first-child{
          text-align: left;
        }
        &:last-child{
          text-align: right;
        }
        span{
          display: inline-block;
          padding-bottom: 1px;
          color: black;
        }
      }
      .TabHeaderTitle.react-tabs__tab--selected{
          padding-bottom: 3px;
          border-bottom:3px solid rgb(4, 120, 141);
          font-weight: bold;
      }
    }

    .TabContentWrap{
      @extend %fullWrap;
      @include paddingAll(17px);
      background-color: #f1f1f1;
      .react-tabs__tab-panel{
        @extend %fullWrap;
        @include paddingAll(17px);
        @include borderRadius(3px);
        background-color: #fff;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
        display: none;
      }
      .react-tabs__tab-panel.react-tabs__tab-panel--selected{
        display: block;
      }
    }
  }

  .UserManagementAddUserBtn{
      float: right;
  }

  .AddUserBtn{
      border-radius: 5px;
      height: 24px;	width: 96px;
  }

.DashboardRightSideWrap{
  .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
      border: 0px;
  }
  .table-bordered{
    border:0px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
  .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    border-bottom: 1px solid #ddd;
  }
  
  .addUser{
    margin-left: 56%;
  }

  .sortable{
    span.order {
      display: none;
    }
  }
}