
.logoImg{ /*float: left;*/ height:60px;}
.navList{ float: right;}
.navList li { float: left; margin: 5px;}
.navList li a{ float: left; padding: 5px 10px; font-size: 14px; color:#555; text-transform: uppercase;}
.HeaderWrapText{font-size:35px;font-weight: lighter}
