@import "../../../../Style.scss";

.HeaderTxt_ComBu{@include titleHev(20px,#232C3D, 23px);@include paddingTopBottom(20px);letter-spacing: 0px;}
.myProfileFormWrap{width: 100%;float: left;padding: 2px 0px;}
.HeaderTxt_MyProfile{font-weight: 100};
.myProfileLeftContentWrap{padding-left: 50px}
.myProfileRightContentWrap{margin-left: -20px}
.myProfileRightContentWrapText{@include titleHevNeu(18px,#4A4A4A, 16px)}
.removeProfileButton{@include titleHevNeu(14px,#939393, 15px);padding-top: 12px}
.myProfileFormBtn{@extend %font-helvetica;border-radius: 2px;cursor: pointer;height: 34px;line-height: 34px;max-width: 348px;width:100%;margin: 0px 5px;background-color: #7b7b7b;color: white;display: inline-block;box-sizing: border-box;border: 0px;}
.myProfileFormBtn:disabled{ opacity: 0.6;}
.myProfileFormBtn:hover{ background-color: #555; }

i.fa.fa-user-circle.userIcon {
    font-size: 50px;
}

i.fa.fa-toggle-on.profileToggle {
    font-size: 30px;
}

.file.fileSpace {
    margin-top: 0px;
}

// li.preferences {
//     padding-top: 20px;
//     padding-bottom: 10px;
// }
.accountHeadClass li{
    max-width: 400px;
}

.saveBtn {
    background-color: black;

}

i.fa.fa-user-circle.pwdeye {
    font-size: 1px;

}
.react-switch {    
    float: right;     
      }
      
      #passwordCriteriaBox {
        display: none;
        padding: 15px 0px;
        font-size: 14px;
        text-align: left;
        p{
          color: grey;
        }
        .valid {
          color: #4A90E2;
        }
        .errorClass {
          color: red;
        }
       }
      
      /* when condiotions met */
      .valid {
        color: #4A90E2;
      }
      
      .valid:before {
        position: relative;
        left: -35px;
        }
      
      /* when no conditions met */
      .invalid {
        color: grey;
      }
      
      .invalid:before {
        position: relative;
        left: -35px;
        // content: "✔";
      }
      
      .errorClass {
        color: red;
      }
 
    
    .form-control-feedback {
      pointer-events: auto
    }

    .eyeIconWrap{ position: absolute; right:5px; top: 10px; cursor: pointer; z-index: 3;}
 